html * {
  font-family: Arial, Helvetica, sans-serif;
}

.centered {
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chart {
  border: 6px solid green;
  padding: 5px;
  list-style-type: none;
  width: 300px;
}

.hover:hover {
  fill: pink;
}

p {
  padding: 5px;
  width: 100%;
}

ul {
  list-style-position: inside;
}

img {
 width: 100%;
}